{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='games.css') }}" />
<link rel="stylesheet"
href="{{ url_for('static', filename='user/stats.css') }}">
<link>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
{% endblock head %}

{% block header %}
<div class="sub-header">
    <div class="Games">
        <h1>
            {% block title %}
            Games
            {% block section %}{% endblock section %}
            {% endblock title %}
        </h1>
        <nav>
            <div class="nav-center">
                {% if url_for(request.endpoint) == url_for('games.games') %}
                <a href="{{ url_for('games.games') }}" class="nav-link-active">Overview</a>
                <a href="{{ url_for('games.stats') }}">Stats</a>
                {% else %}
                <a href="{{ url_for('games.games') }}">Overview</a>
                <a href="{{ url_for('games.stats') }}" class="nav-link-active">Stats</a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>
{% endblock header %}
{% block nav %}{% endblock nav %}
{% block content %}
{% endblock content %}