{% extends 'base.html' %}
{% block header %}
<div class="sub-header">
    <div class="block">
        <h1>{% block title %}Games{% block section %}{% endblock %}{% endblock %}</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Game</th>
        <th>Mean playtime</th>
        <th>Median playtime</th>
        <th>Max playtime</th>
        <th>Min playtime</th>
        <th>Total playtime</th>
        <th>Player count</th>
    </tr>
    {% for gs in object_list %}
    <tr>
        <td>{{gs.game.id}}</td>
        <td><img src="{{gs.game.image_url}}" alt="" height="87"></td>
        <td><a href="{{url_for('game.game', game_id = gs.game.id, game_name = gs.game.name)}}">{{gs.game.name}}</td>
        <td>{{prettify_playtime(gs.mean_playtime)}}</td>
        <td>{{prettify_playtime(gs.median_playtime)}}</td>
        <td>{{prettify_playtime(gs.max_playtime)}}</td>
        <td>{{prettify_playtime(gs.min_playtime)}}</td>
        <td>{{prettify_playtime(gs.total_playtime)}}</td>
        <td>{{gs.player_count}}</td>
    </tr>
    {% endfor %}
</table>
{% if page > 1 %}
  <a class="previous" href="./?page={{ page - 1 }}">Previous</a>
{% endif %}
{% if pagination.get_pages() > page %}
  <a class="next" href="./?page={{ page + 1 }}">Next</a>
{% endif %}
{% endblock %}
