{% extends "games/base.html" %}

{% block section %}overview{% endblock section %}
{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Game</th>
        <th>Mean playtime</th>
        <th>Median playtime</th>
        <th>Max playtime</th>
        <th>Min playtime</th>
        <th>Total playtime</th>
        <th>Player count</th>
        <th>Rating</th>
    </tr>
    {% for gs in game_stats %}
    <tr>
        <td>{{ gs.game.id }}</td>
        <td><img src="{{ gs.game.image_url }}" alt="" height="87"></td>
        <td><a href="{{ url_for('game.game', game_id = gs.game.id, game_name = gs.game.name) }}">{{gs.game.name}}</td>
        <td>{{ prettify_playtime(gs.mean_playtime)}}</td>
        <td>{{ prettify_playtime(gs.median_playtime) }}</td>
        <td>{{ prettify_playtime(gs.max_playtime) }}</td>
        <td>{{ prettify_playtime(gs.min_playtime) }}</td>
        <td>{{ prettify_playtime(gs.total_playtime) }}</td>
        <td>{{ gs.player_count }}</td>
        <td>{{ ((gs.rating*100)|int)/100 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
