{% extends "games/base.html" %}

{% block section %}overview{% endblock section %}
{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Game</th>
        <th>Mean playtime</th>
        <th>Median playtime</th>
        <th>Max playtime</th>
        <th>Min playtime</th>
        <th>Total playtime</th>
        <th>Player count</th>
        <th>Rating</th>
    </tr>
    {% for g in games %}
    <tr>
        <td>{{ g.id }}</td>
        <td><img src="{{ g.image_url }}" alt="" height="87"></td>
        <td><a href="{{ url_for('game.game', game_id = g.id, game_name = g.name) }}">{{g.name}}</td>
        <td>{{ prettify_playtime(g.mean_playtime)}}</td>
        <td>{{ prettify_playtime(g.median_playtime) }}</td>
        <td>{{ prettify_playtime(g.max_playtime) }}</td>
        <td>{{ prettify_playtime(g.min_playtime) }}</td>
        <td>{{ prettify_playtime_with_days(g.playtime) }}</td>
        <td>{{ g.player_count }}</td>
        <td>{{ ((g.score*100)|int)/100 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
