/* Overwrite default */
h1 {
    margin: 0;
}

/* Structure */
body {
    margin: 0 auto;
}

.block {
    width: 1320px;
    margin: auto;
}

/* Header */
header {
    background: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 8px 0;
}

nav div {
    flex: 1;
}

.nav-center {
    text-align: center;
    display: block;
}

.nav-right {
    text-align: right;
}

.nav-center {
    text-align: center;
    width: 100%;
}

nav a {
    color: var(--ctp-mocha-text);
    text-decoration: none;
}

/* Main */

main {
    background: var(--ctp-latte-crust);
    color: var(--ctp-latte-text);
}

.sub-header {
    background: var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-text);
}

.sub-header h1 {
    padding: 8px;
    text-align: center;
}

.sub-header a {
    text-decoration: none
}

.nav-link-active {
    color: var(--ctp-mocha-red);
}


/* Footer */
footer {
    background: var(--ctp-mocha-base);
}

/* /user/user.html */
#profile {
    display: flex;
}

/* /game/game.html */
.description h1 {
    font-size: 14pt;
}

.description h2 {
    font-size: 14pt;
}

.description ul {
    margin-bottom: 0;
}

.description #full {
    display: none;
}

.game {
    display: flex;
}

section.highlights {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0;
}

.highlight {
    display: flex;
    align-items: center;
    min-width: 170px;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-right: 8px;
}

.icon {
    height: 24px;
    width: 24px;

}

.data {
    font-size: 20pt;
}

.chart {
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0px 16px 0px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    align-items: center;
}

.switch {
    background: white;
    margin-left: auto;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.options {
    display: flex;
}

.option {
    display: flex;
    border-radius: 30px;
    padding: 4px 12px;
    cursor: pointer;
}

.active {
    background: var(--ctp-latte-flamingo);
    color: white;
}