/* Overwrite default */
h1 {
    margin: 0;
}

/* Structure */
body {
    margin: 0 auto;
}

.block {
    width: 1320px;
    margin: auto;
}

/* Header */
header {
    background: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 8px 0;
}

nav div {
    flex: 1;
}

.nav-center {
    text-align: center;
    display: block;
}

.nav-right {
    text-align: right;
}

.nav-center {
    text-align: center;
    width: 100%;
}

nav a {
    color: var(--ctp-mocha-text);
}

/* Main */

main {
    background: var(--ctp-latte-crust);
    color: var(--ctp-latte-text);
}

.sub-header {
    background: var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-text);
}

.sub-header h1 {
    padding: 8px;
    text-align: center;
}

.sub-header a {
    text-decoration: none
}

.nav-link-active {
    color: var(--ctp-mocha-red);
}


/* Footer */
footer {
    background: var(--ctp-mocha-base);
}