{% extends 'user/base.html' %}

{% block section %} games{% endblock %}

{% block user_content %}
<table>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Game</th>
        <th>Release Year</th>
        <th>Last Played</th>
        <th>Playtime</th>
        <th>Score</th>
    </tr>
    {% for ug in user_games %}
    <tr>
        <td>{{ug.game.id}}</td>
        <td><img src="{{ug.game.image_url}}" alt="" height="87"></td>
        <td><a href="{{url_for('game.game', game_id = ug.game.id, game_name = ug.game.name)}}">{{ug.game.name}}</td>
        <td>{{ug.game.release_date}}</td>
        <td>{{ug.last_played}}</td>
        <td>{{prettify_playtime(ug.playtime)}}</td>
        <td><input type="number" id="{{ug.game.id}}" class="score" min="0" max="10" value="{{ug.score}}"></td>
    </tr>
    {% endfor %}
</table>
<script>
    var nodes = document.getElementsByClassName("score");
    for (let i = 0; i < nodes.length; i++) {
        var url = {{ url_for("user.games", username = user.username) | tojson}}
        nodes[i].addEventListener('change', () => {
            let data = {
                "id": nodes[i].id,
                "score": nodes[i].value,
            }
            fetch(url, {
                "method": "POST",
                "headers": { "Content-Type": "application/json" },
                "body": JSON.stringify(data),
            }).then((response) => response.json()).then(
                (data) => {
                    console.log(data)
                    nodes[i].value = data.score
                }
            )
        })
    }
</script>
{% endblock %}