{% extends 'user/user_base.html' %}
{% block section %} recommendations{% endblock %}
{% block content %}
<h2>Content based recommendations for user</h2>
<div>
    {% for game in cbr_result %}
    <a href="{{url_for('game.game', game_id = game.id, game_name = game.name)}}">
        <img src="{{game.image_url}}" alt="" height="204">
    </a>
    {% endfor %}
</div>
{% endblock %}
{#
{% block user_content %}
{% if similarities is not none %}
<h1>Similar users</h1>
<table>
    <tr>
        <th>User</th>
        <th>Similarity</th>
    </tr>
    {% for s in similarities %}
    <tr>
        <td><a href="{{url_for('user.user', username=s.username)}}">{{s.username}}</td>
        <td>{{(similarities[s]*1000)|round/1000}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
There is not similar users
{% endif %}
<h1>Recommendations by playtime</h1>
<table>
    <tr>
        <th>Game</th>
        <th>Value</th>
        <th>Count</th>
    </tr>
    {% for r in recommendations %}
    <tr>
        <td><a href="{{url_for('game.game', game_id = r.id, game_name = r.steam_app.name)}}">{{r.steam_app.name}}</td>
        <td>{{(recommendations[r]['result']*1000)|round/1000}}</td>
        <td>{{recommendations[r]['count']}}</td>
    </tr>
    {% endfor %}
</table>
<h1>Recommendations by score</h1>
<table>
    <tr>
        <th>Game</th>
        <th>Value</th>
    </tr>
    {% for r in recommendations_by_score %}
    <tr>
        <td><a href="{{url_for('game.game', game_id = r.id, game_name = r.steam_app.name)}}">{{r.steam_app.name}}</td>
        <td>{{(recommendations_by_score[r]*1000)|round/1000}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
#}