{% extends 'base.html' %}

{% block header %}
<div class="sub-header">
    <div class="block">
        <h1>{% block title %}{{ user.username }}'s{% block section %}{% endblock %}{% endblock %}</h1>
        <nav>
            <div class="nav-center">
                {% if url_for(request.endpoint, username=user.username) == url_for('user.user', username=user.username) %}
                <a href={{url_for('user.user', username=user.username )}} class="nav-link-active">Overview</a>
                {% else %}
                <a href={{url_for('user.user', username=user.username )}}>Overview</a>
                {% endif %}
                {% if url_for(request.endpoint, username=user.username) == url_for('user.games', username=user.username) %}
                <a href={{url_for('user.games', username=user.username )}} class="nav-link-active">Games</a>
                {% else %}
                <a href={{url_for('user.games', username=user.username )}}>Games</a>
                {% endif %}
                {% if url_for(request.endpoint, username=user.username) == url_for('user.recommendations', username=user.username)%}
                <a href={{url_for('user.recommendations', username=user.username )}}
                    class="nav-link-active">Recommendations</a>
                {% else %}
                <a href={{url_for('user.recommendations', username=user.username )}}>Recommendations</a>
                {% endif %}
                {% if url_for(request.endpoint, username=user.username) == url_for('user.statistics', username=user.username )
                %}
                <a href={{url_for('user.statistics', username=user.username )}} class="nav-link-active">Statistics</a>
                {% else %}
                <a href={{url_for('user.statistics', username=user.username )}}>Statistics</a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>
{% endblock %}
{% block nav %}
{% endblock %}

{% block content %}

{% block user_content %}{% endblock %}
{% endblock %}