<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='catppuccin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Game Lists</title>
</head>

<body>
    <header>
        <nav class="block">
            <div class="nav-left">
                <h1>Game Lists</h1>
            </div>
            <div class="nav-center">Games</div>
            <div class="nav-right">
                {% if g.user %}
                <a href="{{ url_for('user.user', username=g.user['username']) }}">{{ g.user['username'] }}</a>
                <a href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
                <a href="{{ url_for('auth.register') }}">Register</a></li>
                <a href="{{ url_for('auth.login') }}">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block header %}{% endblock %}
        <div class="block">
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        WIP
    </footer>
</body>

</html>